//
// * All Rights Reserved
// * This software is proprietary information of
// * Intelligent Sense
// * Use is subject to license terms.
// * Filename: _footer.scss
//

// *
// * Author:      kchaves@intelligentsense.com
// * Date:        28/10/2013
// * Description: Footer partial. Add here the classes for the footer of the site.
//


.footer-container {

    footer {
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
    }
}

.footer-text-description {
  font-size: 0.8em;
  float: left;
  margin-left: 30px;
  justify-content: flex-start;
}

.footer-text-terms {
  font-size: 0.8em;
  float: right;
  margin-right: 30px;
  justify-content: flex-end;
  text-decoration: underline;
}
