p {
  color: white;
  font-size: 1em;
}

.container {
  width: 200px;
  height: 300px;
  padding: 20px;
  padding-top: 10px;
}

#twitter-text {
  font-family: monospace;
}

#instagram-text {
  font-family: sans-serif;
}

#facebook-text {
  font-family: Fira Code;
}

#facebook-color {
  background-color: #003375;
}

#instagram-color {
  background-color: #d4aa27;
}

#twitter-color {
  background-color: #0A74FF;
}

a:hover {
    color: yellow;
}

.icon {
  font-size: 3em;
  transform: translate(75px, 50px);
}

.fa-facebook {
  margin-top: 33%;
}

.fa-twitter-square {
  margin-top: 18%;
}

.fa-instagram {
  margin-bottom: 10%;
}

.box-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.header-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}
